<h1>This is just an example</h1>

<p style="text-align: center; width: 400px; margin: 20px auto;">The time and
date are {DateTime.now}. It took {now - INIT now}s to run this template.</p>

{ for ^10 { }
    42 {$_}
{}}
